
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
}



form{
    
    width: 50%;
}

.input_name{
    margin: 10px 0px;
}

.input{
    display: block;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0px;
    width: 505px;
    border: 1px solid gray;
    font-size: 16px;
}

.input_name input{
   display: inline;
   width: 250px;
   margin: 0;
}

textarea{
    width: 505px;
    padding: 10px;
}





.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 350px;
    height:350px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.info-content {
    width:350px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.info-text{
    border-right: 2px solid #6a57b0;
    padding-right: 10px;
    height: 60px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.info-text p,h3{
    margin: 0;
}



