footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.footer-container {
  
  padding-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-top: 1px solid rgba(92, 73, 9, 0.712);
}

.footer-icon {
  width: 30px;
  margin: 20px;
}
.footer-icons {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.copyrights {
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
}
